
@model List<Instructor>

@{
    ViewData["Title"] = "Instructors";
}

<h1 class="h1">Instructors</h1>

<a class="btn btn-primary" asp-action="Create">Create Instructor</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Salary</th>
            <th>Department</th>
            <th>Teaching</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in @Model)
        {
                <tr>
                    <td>@i.Id</td>
                    <td>
                        <a href="/Instructor/Details/@i.Id" class="link-info" style="text-decoration: none;">
                            @i.Name
                        </a>
                    </td>
                    <td>@i.Address</td>
                    <td>@i.Salary.ToString(".00")</td>
                    <td>@i.Department.Name</td>
                    <td>@i.Course.Name</td>
                    <td>
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@i.Id">
                            Edit
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" onclick="confirmDelete(event)"
                            asp-action="Delete" asp-route-id="@i.Id">
                            Delete
                        </a>
                    </td>
                </tr>
        }
    </tbody>
</table>

<script>
    function confirmDelete(e) {
        const isConfirmed = confirm("Are you sure you want to delete this record?");

        if (!isConfirmed) {
            e.preventDefault();
        }
    }
</script>
